{% extends "base.html" %}
{% block container %}
<div class="jumbotron page-header">
		  <h1>Django E-Commerce</h1>
		  <p>Shadowhunters é uma série distópica americana de fantasia baseada na série literária The Mortal Instruments por Cassandra Clare, desenvolvida para a televisão por Ed Decter. A série é uma segunda adaptação da série literária, após o filme de 2013 Os Instrumentos Mortais: Cidade dos Ossos, que também foi produzido pela companhia Constantin Film. </p>
		  <p><a class="btn btn-primary">Saiba mais</a></p>
		</div>
{% endblock %}